[tools]
godot = "4.6-stable"

# Documentation for tasks: https://mise.jdx.dev/tasks/
[tasks.godot]
description = "Start the Godot project"
# With `nohup`, the Godot process continues to live even if the shell gets killed
# `&` puts the process in the background to not block the shell
run = "nohup godot project.godot &"
alias = "g"

[tasks.code]
description = "Open the Godot project in your IDE or text editor, by default Zed"
depends = [ "godot" ]
run = [
  # With `nohup`, your IDE / text editor process continues to live even if the shell gets killed
  # `&` puts the process in the background to not block the shell
  "nohup {{arg(name='editor',default='zeditor')}} ./ &",
  # The shell seems to be stuck after the execution of the previous command with `nohup`. Pressing `Enter` shows the
  # shell prompt back, but we don't need to do anything anyway, so we can simply get the shell prompt back with `exit`
  "exit",
]
alias = "c"
